<div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="./assets/image/logo.png" alt="Logo" />
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active"> Menu </a>
            <a class="navbar-item"> Rooms </a>
            <a class="navbar-item"> Location </a>
            <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="payment button">
                </span>
                <span>Cart</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>