<div>
    <section class="section is-medium">
        <h2 class="subtitle">
          Menu
        </h2>
        <div *ngFor = "let data of foodlist">
            <div class = "foodimage">
                {{data.image}}
            </div>
            <div class="fooddescription">
                {{data.name}}
                {{data.price}}
                {{data.description}}
                {{data.readilyAvailable}}
            </div>
            <button class="orderbutton" type="Onclick">Order</button>
        </div>
    </section>
</div>

