<section class="hero is-success is-fullheight">
   
    <div class="hero-body is-bold ">
      <div class="container is-flex is-vcentered is-large">
        <div class = "">
            <h1 class="title"  >Hillside Plaza Restaurant, Bar and Rooms </h1>
            <p class="subtitle">Enjoyment a la kain</p>
        </div>
        
      </div>
    </div>
  
</section>

<app-food></app-food>


<!-- <img src = "./assets/image/hillsideCoverPhoto.jpeg " alt = "cover photo of page showing that we offer lodging, cathering and hallrenting"> -->
